body,
h1,
h2 {
  color: rgb(0, 0, 0);
}

ion-content {
  --background: rgb(209, 245, 242);
}

ion-menu ion-content {
  --background: rgb(255, 255, 255);
}

ion-thumbnail {
  --size: 280px;
  --border-radius: 10px;
  margin: 0 auto;
}

ion-list.homeTasklist {
  background: none;
}

ion-list.homeTasklist ion-label span {
  padding: 5px;
}

ion-list.homeTasklist ion-item {
  --background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  --border-radius: 2px;
  padding: 5px 0;
}

ion-list.homeTasklist ion-checkbox {
  --background: rgb(240, 234, 214);
  --border-color: rgb(8, 74, 87);
}

.tasklist ion-list,
.options ion-list {
  background: none;
}

.tasklist ion-item {
  --background: none;
  color: rgb(0, 0, 0);
}

.options {
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
}

.options ion-item {
  --background: none;
  --border: none;
}

.signupform {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  /* text-align: center; */
  background-color: rgb(88, 214, 245);
  padding: 3%;
  border-radius: 5px;
}

.color {
  background-color: white;
}

ion-modal ion-header {
  --ion-toolbar-background: white;
}
