body {
  color: rgb(0, 0, 0);
}

ion-thumbnail {
  --size: 280px;
  --border-radius: 10px;
  margin: 0 auto;
}

.tasklist ion-list,
.options ion-list {
  background: none;
}

.tasklist ion-item {
  --background: none;
  color: rgb(0, 0, 0);
}

.options {
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
}

.options ion-item {
  --background: none;
  --border: none;
}

.signupform {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  /* text-align: center; */
  background-color: rgb(88, 214, 245);
  padding: 3%;
  border-radius: 5px;
}

.color {
  background-color: white;
}
