ion-header {
  --ion-toolbar-background: rgb(209, 245, 242);
}

ion-menu ion-header {
  --ion-toolbar-background: rgb(0, 0, 0);
}

ion-menu-button,
ion-title {
  color: rgb(0, 0, 0);
}

ion-content {
  --background: rgb(209, 245, 242);
}

ion-grid,
ion-grid a {
  color: rgb(0, 0, 0);
}

ion-grid {
  max-width: 1200px;
  width: 100%;
}

ion-menu ion-title {
  color: rgb(255, 255, 255);
}
